<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wifimanager">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WiFiManager"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".smart_life_options.WiFiScheduleRebootActivity"
            android:exported="false" />
        <activity
            android:name=".smart_life_options.WiFiScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".Settings_Components.Sched_update"
            android:exported="false" />
        <activity
            android:name=".Settings_Components.Menu_Blocklist"
            android:exported="false" />
        <activity
            android:name=".Settings_Components.Security"
            android:exported="false" />
        <activity
            android:name=".Settings_Components.BlockedDevicesActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Settings_Components.logs"
            android:exported="false" />
        <activity
            android:name=".smart_life_options.ScheduleRebootActivity"
            android:exported="false" />
        <activity
            android:name=".smart_life_options.HealthModeActivity"
            android:exported="false" />
        <activity
            android:name=".smart_life_options.GuestWifiActivity"
            android:exported="false" />
        <activity
            android:name=".smart_life_options.QOS"
            android:exported="false" />
        <activity
            android:name=".Settings_Components.TimeZoneSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Settings_Components.FactoryResetActivity"
            android:exported="false" />
        <activity
            android:name=".Settings_Components.pass_reset"
            android:exported="false" />
        <activity
            android:name=".Settings_Components.about_router_settings"
            android:exported="false" />
        <activity
            android:name=".Settings_Components.region_settings"
            android:exported="false" />
        <activity
            android:name=".Settings_Components.notification_settings"
            android:exported="false" />
        <activity
            android:name=".Settings_Components.hardware_settings"
            android:exported="false" />
        <activity
            android:name=".Settings_Components.reboot_settings"
            android:exported="false" />
        <activity
            android:name=".Settings_Components.network_settings"
            android:exported="false" />
        <activity
            android:name=".Settings_Components.wifi_settings"
            android:exported="false" />
        <activity
            android:name=".Tools.Smart_life"
            android:exported="false" />
        <activity
            android:name=".Tools.Firewall"
            android:exported="false" />
        <activity
            android:name=".Tools.parametres"
            android:exported="false" />
        <activity
            android:name=".Tools.Update"
            android:exported="false" />
        <activity
            android:name=".Tools.Optimization"
            android:exported="false" />
        <activity
            android:name=".Devices_List.DeviceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".splashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>